.loginDesign{
    width: 100vw;
    height: 100vh;
    background-color: bisque;
}
*{
    color: black !important;
} 



.marginTop{
    height: 5em;
}
.form{
    border: solid black 0.2em;
    border-radius: 1em;
    width: 20em;
    height: 20em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: darkseagreen;
}

.botonLogin{
    background-color: red;
    border-radius: 0.2em;
    margin-top: 2em;
}

