.appointmentCardMedicDesign{

    width: auto ;
    height: auto;
    background-color: black;

}

.fechaM{
    width: 6em;
    height: 5em;
    background-color: red;
}

.fechaTituloM{
    width: 6em;
    height: 1.5em;
    background-color: white;
}
.medicoM{
    width: 6em;
    height: 5em;
    background-color: blue;
}
.medicoTituloM{
    width: 6em;
    height: 1.5em;
    background-color: white;
}
.clinicaM{
    width: 6em;
    height: 5em;
    background-color: yellow;
}
.clinicaTituloM{
    width: 6em;
    height: 1.5em;
    background-color: white;
}


.precioM{
    width: 6em;
    height: 5em;
    background-color: green;
}
.precioTituloM{
    width: 6em;
    height: 1.5em;
    background-color: white;
}

.botonesOpcionCitaM{
    width: 6em;
    height: 5em;
    background-color: orange;
}

.editaCitaM{
    background-color: rgb(208, 255, 0);
    width: 6em;
    height: 1.666em;
    cursor: pointer;
}

.cancelaCitaM{
    background-color: red;
    width: 6em;
    height: 1.666em;
    cursor: pointer;
}

.verDetalleCitaM{
    background-color: rgb(0, 255, 34);
    width: 6em;
    height: 1.666em;
    cursor: pointer;
}
.tratamientoM{
    width: 6em;
    height: 5em;
    background-color: green;
}
.tratamientoTituloM{
    width: 6em;
    height: 1.5em;
    background-color: white;
    
}

.tratamientoOpcionCitaM{
    width: 6em;
    height: 5em;
    background-color: rgb(0, 255, 42);
    word-wrap: break-word;
}