.appointmentCardMedicDesign{

    width: auto ;
    height: auto;
    border: solid black 0.2em;
    border-radius: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}
.fontWeight{
    font-weight: bolder;
}

.fechaM{
    width: auto;
    height: auto;

}

.fechaTituloM{
    width: auto;
    height: auto;
}
.medicoM{
    width: auto;
    height: auto;
}
.medicoTituloM{
    width: auto;
    height: auto;
}
.clinicaM{
    width: auto;
    height: auto;
}
.clinicaTituloM{
    width: auto;
    height: auto;
}


.precioM{
    width:auto;
    height: auto;
}
.precioTituloM{
    width: auto;
    height: auto;
}

.botonesOpcionCitaM{
    width: auto;
    height: auto;
}

.editaCita{
    width: 2.5em;
    height: 2.5em;
    border: solid black 0.1em;

    border-radius: 50%;
    background-image: url(../../assets/lapiz.png);
    background-size: contain;
    cursor: pointer;
}

.cancelaCita{
    width: 2.5em;
    height: 2.5em;
    border: solid black 0.1em;

    border-radius: 50%;
    background-image: url(../../assets/cross.png);
    background-size: contain;
    cursor: pointer;
}

.verDetalleCitaM{
    width: auto;
    height: 1.666em;
    cursor: pointer;
}
.tratamientoM{
    width: 9em;
    height: 5em;
}
.tratamientoTituloM{
    width: 10em;
    height: 1.5em;
    
}

.tratamientoOpcionCitaM{
    width: 6em;
    height: 5em;
    word-wrap: break-word;
}

.formatAppointmentCardAttributes{
    width: 4em;
    height: 2em;
}

.centerCenter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
