.changeViewDesign{
    width: 6em;
    height: 2em;

    background-color: #6ACDE5;
    border-radius: 2em;

    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-right: 1em;
    margin-top: 0.5em;
    transition: 0.5s;
}

.changeViewDesign:hover{
    transition: 0.5s;
    color: #102444;
    transform: scale(1.1);
    box-shadow: #6ACDE5 0 0 0.5em 0.1em ;
    cursor: pointer;
}