.homeDesign{
    height: 85vh;
    width: 100vw;

    background-color: #C1E9FC;
}

.logo{
    padding: 0;
    margin: 0;
    width: 2em;
    height: 1em;
    background-image: url(../../assets/logoClinica.png);
    background-size: contain;
    background-repeat: no-repeat;
}