/* *{
    background-color: #C1E9FC;

} */

.homeDesign{
    width: 100vw;
overflow-x: hidden;
    background-color: #0d3b50;
    margin:0;
    padding:0;
    border:0;
}

.hola {
    
overflow-x: hidden;
    background-color: transparent;
    margin:0;
    padding:0;
}
