.appointmentCardDesign{
    width: auto ;
    height: auto;
    border: solid black 0.2em;
    border-radius: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.fontWeight{
    font-weight: bolder;
}

.widthTitles{
    width: 6.5em;
}

.fecha{
    width: auto;
    height: auto;
}

.fechaTitulo{
    width: auto;
    height: auto;
}
.medico{
    width: auto;
    height: auto;
}
.medicoTitulo{
    width: auto;
    height: auto;
}
.clinica{
    width: auto;
    height: auto;
}
.clinicaTitulo{
    width: auto;
    height: auto;
}

.precio{
    width: auto;
    height: auto;
}
.precioTitulo{
    width: auto;
    height: auto;
}

.botonesOpcionCita{
    width: auto;
    height: auto;
}

.editaCita{
    width: 2.5em;
    height: 2.5em;
    border: solid black 0.1em;

    border-radius: 50%;
    background-image: url(../../assets/lapiz.png);
    background-size: contain;
    cursor: pointer;
}

.cancelaCita{
    width: 2.5em;
    height: 2.5em;
    border: solid black 0.1em;

    border-radius: 50%;
    background-image: url(../../assets/cross.png);
    background-size: contain;
    cursor: pointer;
}

.verDetalleCita{
    width: 6em;
    height: 1.666em;
    cursor: pointer;
}
.tratamiento{
    width: 9em;
    height: 5em;
}
.tratamientoTitulo{
    width: 10em;
    height: 1.5em;
    
}

.tratamientoOpcionCita{
    width: 6em;
    height: 5em;
    word-wrap: break-word;
}

.formatAppointmentCardAttributes{
    width: 4em;
    height: 2em;
}

.centerCenter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


