.headerDesign{

    height: 15vh;
    width: 100vw;

    background-color: #102444;

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-weight: bolder;
    color: white;

}

.logo{
    width: 2em;
    height: 2em;
    background-image: url(../../assets/logoClinica.png);
    background-size: cover;
}

.Botones{
    
    display: flex;
    flex-direction: row;
}

.links{
    display: flex;
    flex-direction: row;
    
}

.marginLinks{
    margin: 1em;
    transition: 0.5s;
    
}

.marginLinks:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.5s;
}