.AllUsersCardDesign{

    width: 25em;
    height: 14em;
    border: solid black 0.2em;
    border-radius: 2em;
    overflow-wrap: break-word;

}

.fontWeight{
    font-weight: bold;
}



.emailAContent{
    overflow-wrap: break-word;
}